@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "Integral CF";
  src: url("/assets/fonts/IntegralCF-Bold.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Lexend, "Integral CF", "Courier New", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--black-color);
  scroll-behavior: smooth;
}
